/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do contêiner principal da aplicação */
.app {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #333333, #01111d);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  overflow-x: hidden;
}

/* Header com a logo */
.header {
  width: 100%;
  background: linear-gradient(45deg, #333333, #01111d);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 150px;
  height: auto;
}

/* Contêiner principal com transparência e desfoque */
.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 90%;
  max-width: 1200px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

/* Títulos */
h1, h2 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 2.4em;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

/* Seção de exibição de filas e tabelas */
.queue-display {
  display: flex;
  color: white;
  font-weight: bold;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

#readyQueue {
  list-style-type: none;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* Seção de inputs */
.input-section {
  flex: 1;
  min-width: 250px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

input:focus {
  border-color: #5151E5;
  box-shadow: 0 0 8px rgba(81, 81, 229, 0.3);
}

/* Botões */
.btn {
  padding: 12px 20px;
  background: linear-gradient(45deg, #9e1212, #1b3240);
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  display: block;
}

.btn:hover {
  background: linear-gradient(45deg, #5151E5, #72EDF2);
  transform: scale(1.05);
}

/* Tabela de Resultados */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

table.visible {
  opacity: 1;
  transform: translateY(0);
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  color: white;
}

/* Estilo do footer */
.footer {
  background: linear-gradient(45deg, #333333, #01111d);
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 0.85em;
  width: 100%;
  margin-top: 20px;
  backdrop-filter: blur(5px);
  font-weight: 300;
  line-height: 1.6;
}

.footer p {
  margin-bottom: 10px;
  font-size: 0.85em;
  font-weight: 300;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .input-group {
    text-align: center;
    width: 100%;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    text-align: center;
  }

  .btn {
    width: 80%;
    max-width: 200px;
    font-size: 0.9em;
    padding: 10px 15px;
    margin: 20px auto;
  }

  table, th, td {
    font-size: 0.9em;
    padding: 5px;
  }
}